*{
    padding: 0px;
    margin: 0px;
}
ul,ol{
    list-style: none;
}
a,a:hover,a:focus{
    text-decoration: none;
    outline: 0px;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: nunito;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: montserrat_bold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
 h1,h2,h3,h4,h5,h6,p,ol,ul,li{
    margin-top: 0;
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    width: 100%;
    
}   
/*header part ends*/

/* header #navigation{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
} */
header #navigation{
    background-color: #2c2c2c;
}
header #navigation nav .mr-auto{
     margin: auto;
}
header #navigation nav .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    transition: all linear 0.3s;
    padding: 0px 15px;
    line-height: 100px;
}
header #navigation nav .navbar-nav .nav-item .nav-link:hover, header #navigation nav .navbar-nav .nav-item.active .nav-link{
    color: #FF6309;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
header #navigation nav a{
    font-size: 20px;
    color: #fff;
    transition: all linear 0.3s;
}
header #navigation nav a:hover{
    color: #FF6309;
}
 /*header part ends*/
   
/*banner part starts*/
#particles-js{
    position: relative;
    z-index: 2;
}
canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
	z-index:1;
    width: 100%;
    height: 100%;
}
.banner {
    background: url(../images/banner.png)no-repeat center;
    background-size: cover;
    background-position: center;
    /* height: 150vh; */
}
.banner .container h1{
    font-size: 70px;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 270px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.banner .container p{
    font-size: 15px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
    padding-bottom: 30px; 
}
.banner .container button{
    font-size: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: #FF6309;
    padding: 25px 50px;
    margin-bottom: 100px;
}

/*banner part ends*/

/*dance_tour part starts*/
#dance_tour{
    background: url(../images/backgorund2.png)no-repeat center;
    background-size: cover;
}
#dance_tour .container h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#dance_tour .container p{
    font-size: 15px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
    padding-bottom: 35px;
}
#dance_tour .container figure{
    margin-bottom: 70px;
}
#dance_tour .container figure img{
    width: 330px;
    height: 300px;
}
#dance_tour .container .tour figcaption{
    background: #303030;
    margin-left: 10px;
    margin-right: 10px;
}
#dance_tour .container figure figcaption h5{
    padding-top: 20px; 
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff; 
}
#dance_tour .container figure figcaption p{
    padding-top: 10px;
    padding-bottom: 20px; 
    font-family: montserrat_bold;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff; 
}
/*dance_tour part ends*/

/*pricing part starts*/
#pricing{
    background: url(../images/back3.png)no-repeat center;
    background-size: cover;
}
#pricing .container h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#pricing .container p{
    font-size: 15px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
    padding-bottom: 35px;
}
#pricing .container .pricing_basic{
    background: #FF6309;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-left: 35px;
    margin-right: 35px;
}
#pricing .container .pricing_basic a{
    color: #fff;
    font-size: 80px;
}
.svg-inline--fa.fa-w-12 {
    margin-top: 60px;
}
#pricing .container .pricing_basic h2{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#pricing .container .pricing_basic p{
    color: #fff;
    padding-bottom: 15px;
    font-family: montserrat_bold;
}
#pricing .container .pricing_basic button{
    border: none;
    background: #303030;
    padding: 12px 80px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
/*pricing part ends*/

/*amazing part starts*/
#amazing .container .img img{
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 15px;
}
#amazing .container .image img{
    margin-left: -15px;
    max-width: 100%;
}   
#amazing .container .text h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 320px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
}
#amazing {
    background: #FF6309;
}
#amazing .container .text{
    /* background: url(../images/about_back1.png); */
    margin-left: 0px;
}
#amazing .container .text p{
    padding-top: 10px;
    padding-bottom: 50px; 
    font-family: montserrat_bold;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    padding-left: 40px;
}
#amazing .container .text button{
    border: none;
    background: #303030;
    padding: 12px 80px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase;
}
#amazing .container .text2 h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 320px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
}
#amazing .container .text2 p{
    padding-top: 10px;
    padding-bottom: 50px; 
    font-family: montserrat_bold;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    padding-left: 40px;
}
#amazing .container .text2 button{
    border: none;
    background: #303030;
    padding: 12px 80px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase;
}
/*amazing part ends*/

/*statistics part starts*/
#statistics{
    background: #2c2c2c;
}
#statistics h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#statistics p{
    font-size: 15px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
    padding-bottom: 70px;
}
#statistics .counting{
    margin-bottom: 80px;
}
#statistics .counting .count{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 5px;
}
#statistics .counting span{
    font-size: 30px;
    color: #fff;
    font-family: montserrat;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 70px;
}
/*statistics part ends*/
#comment{
    background: url(../images/back4.png)no-repeat center;
    background-size: cover;
}
#comment .container p{
    padding-top: 340px;
    padding-bottom: 50px;
    font-size: 25px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
}
#comment .container h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-bottom: 345px;
}
/*statistics part ends*/

/*subscribe part ends*/
#subscribe{
    background: url(../images/backgorund.png)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#subscribe .container h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 100px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#subscribe .container p{
    padding-bottom: 25px;
    font-size: 16px;
    color: #fff;
    font-family: montserrat_bold;
    font-weight: 300;
}
#subscribe .container form input{
    padding: 26px 19px;
}
#subscribe .container button{
    background:  #2c2c2c;
    border: none;
    padding: 12px 50px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 100px;
}
button {
    margin-left: -33px;
}
/*subscribe part ends*/





